{% extends "./layout.html" %} {% block pageContent %}
<h1 class="text-center">All Users In Website</h1>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
  {% for user in users%}
  <div class="col mb-2">
    <div class="card" style="width: 350px">
      <img src="{{image}}" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{user.username}}</h5>
        <p class="card-text">
          <span>Email: {{user.email}}</span>
          <br />
          <span>phone: {{user.phone}}</span>
        </p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <span class="text-primary">City: {{user.address.city}}</span>
        </li>
        <li class="list-group-item">
          <span class="text-primary">Street: {{user.address.street}}</span>
        </li>
        <li class="list-group-item">
          <span class="text-primary">Zipcode: {{user.address.zipcode}}</span>
        </li>
      </ul>
      <div class="card-body">
        <div class="d-grid gap-2 d-md-block">
          <button class="btn btn-primary" type="button">Next</button>
          <button class="btn btn-primary" type="button">Previous</button>
        </div>
      </div>
    </div>
  </div>

  {% endfor %}
</div>

{% endblock pageContent %}
